<%- include('../base/header')%>

<%- include('../base/navbar')%>
<html>
<div class="container main_product">
    <h1 class="text-center pb-4">Contribute</h1>
    <div class="col-10 offset-1">
        <form class="needs-validation" action="/Contributes" method="POST" >
            <div class="mb-3">
                <label class="form-label font-weight-bold" for="name">Name</label>
                <input class="form-control" type="text" id="name" name="name" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <!-- <div class="mb-3">
                <label class="form-label font-weight-bold" for="number">Contact Number</label>
                <div class="input-group">
                    <div class="input-group-text" id="price-label">+91</div>
                    
                        <input type="text" class="form-control" id="number" placeholder="0" aria-label="number"
                          aria-describedby="number-label" value="" name="number" required>
        
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                    
                </div>
                <span id="error">hii</span>
            </div> -->
            <div class="mb-3">
                <label for="emailEntry" class="form-label">Email address</label>
                <input type="email" class="form-control" id="emailEntry" aria-describedby="emailHelp" name="emailEntry" required>
                <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
              </div>
              
            <div class="mb-3">
                <label class="form-label font-weight-bold" for="medname">Medicine name</label>
                <input class="form-control" type="text" id="medname" name="medname" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="mb-3">
                <button class="btn btn-success col-12 col-md-12 my-4 mb-5" onclick="validNum()">Add Medicine</button>
            </div>
        </form>
    </div>
</div>


    <%- include('../base/footer')%>
    <!-- <script >
   function validNum(){
    var num = document.querySelector('#number');
    var error = document.querySelector('#error');

   
     if(Number.isInteger(num.value)==false || num.value.length<10)
     {
        error.textContent="Please enter valid phone number";
        error.style.color="red";
     }
    else if(num.value.length==10 && Number.isInteger(num.value)==true) {
        error.textContent="";
    }
    }
   
    </script> -->
    </html>