.display_meds{
    background-color: rgb(241, 211, 234);
    border-radius: 25px;
    text-align: center;
    margin-top: 50px;
    padding: 20px;
}
.display_text{
    font-size: 30px;
}
.contribute{
    background-color: rgb(192, 212, 243);
    border-radius: 20px;
    text-align: center;
    margin-top: 30px;
    padding: 20px; 
}
.dots{
    position: relative;
    content: '';
    background-color: rgb(29, 77, 37);
    border-radius: 5px;
    margin-top: 30px;
    font-size: 0;    
    padding: 5px;
    width:3px;
  margin-left: 10px;
}
.dot{
    display: flex;
  justify-content: center;
}
.image{
    display:block;
    margin-left: auto;
    margin-right: auto;
    height:50vh;
    width:auto
}

.searchInput{
    border-radius: 15px;
    height: 40px;
    width: 50%;
    font-size: large;
    background-color: rgb(241, 211, 234);
    border-color: rgb(0, 89, 255);
}

option{
background-color: aliceblue;
}

.searchButton{
    text-decoration: none;
    border-radius: 25px;
    border-color: rgb(0, 89, 255);
    background-color: rgb(241, 211, 234);
    transition: 500ms;
    font-weight: bold;
}

.searchButton:hover{
text-shadow: 0.25px 0.25px 0.5px #000000;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);}