/*======================
    Error page
=======================*/

.page_statusCode{ 
    padding:40px 0; 
    background:#fff; 
    font-family: 'Arvo', serif;
}

.page_statusCode  img{ 
    width:100%;
}

.statusCode_bg{
 background-image: url(https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif);
    height: 400px;
    background-position: center;
 }
 
 
.statusCode_bg h1{
    font-size:80px;
}
 
.statusCode_bg h3{
	font-size:80px;
}

.content_box_statusCode{ 
    margin-top:-50px;
}