/*===========================
    11.REGISTER css 
===========================*/

.reg_form{
    border-radius: 25px;
    padding: 20px;
    }
    
.reg_message{
font-size: 18px;
}

/*===========================
    11.LOGIN css 
===========================*/

.bg-modal {
	background-color: rgba(43, 41, 41, 0.521);
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
    left:0;
	display: none;
	justify-content: center;
	align-items: center;
}
.row{
  margin-top: -9px;
  margin-bottom: -9px;
}
.close {
	cursor: pointer;
}
.or-container {
  align-items: center;
  color: #ccc;
  display: flex;
}

.line-separator {
  background-color: #ccc;
  flex-grow: 5;
  height: 1px
}

.or-label {
  flex-grow: 1;
  margin: 0 15px;
  text-align: center
}
.row .login_form{
  border-radius: 25px;
  padding: 20px;
  justify-self: center;
  }
h2{
  font-family: 'Times New Roman', Times, serif;
 
}
.login_form .submit{
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
  margin-bottom: -9px;
}
  
.login_message{
  font-size: 18px;
}
