<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Heath Bloom</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
        integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/home.css">
</head>

<body class="d-flex text-center text-white bg-dark">
    <div class="d-flex w-100 h-100 p-3 mx-auto flex-column">
        <header class="mb-auto">
            <div class="container">
                <h3 class="float-md-left mb-0 text-success">Medics</h3>
                <nav class="nav nav-masthead justify-content-center float-md-right">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                    <a class="nav-link" href="/Contributes">Login</a>
                    <a class="nav-link" href="/HealthCheckup">Register</a>
                    <a class="nav-link" href="/Pollution">Logout</a>
                </nav>
            </div>
        </header>
        <main  class="px-3 pt-5 mt-5">
            <h1>Medics</h1>
            <p class="lead p-3 pb-5">A Medical website used to contribute and get information about medicine and health</p>
            <a href="/Contributes" class="btn btn-lg btn-outline-success border border-light text-light font-weight-bold mt-5">Medicines</a>
            <a href="/HealthCheckup" class="btn btn-lg btn-outline-success border border-light text-light font-weight-bold mt-5">Health Checkup</a>
            <a href="/Pollution" class="btn btn-lg btn-outline-success border border-light text-light font-weight-bold mt-5">Pollution</a>
        </main>

        <footer class="mt-auto text-white-50">
            <p class="credit"><a class="website" href="https://github.com/pratistha-05" target="_blank">Pratistha</a> | <a class="website" href="https://saptakportfolio.netlify.app/" target="_blank">Saptak</a> &copy; 2021</a></p>
        </footer>


    </div>


    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"
        integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/"
        crossorigin="anonymous"></script>
</body>

</html>