<%- include('base/header')%>

<%- include('base/navbar')%>
<html>
    <link rel="stylesheet" href="/css/pollution.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>

   <body>
    <h1 class="head">How much is environment around you polluted</h1>
    <div class="container">
       <div class="row">
        <div class="col-md-6">
            <div class="border border-dark rounded p-3 shadow ">
                <div class="row">
                    <div>
                        <h3 class="head text-center py-3">Enter the Coordinates of the location</h1>
                        <label for="pollutionValue" class="form-label">Enter the Latitude :</label>
                        <input id="latitude" value="" class="user form-control"></input><br>
                    </div>
                    <div>
                        <label for="pollutionValue" class="form-label">Enter the Longitude :</label>
                        <input id="longitude"   value="" class="user form-control"></input><br>
                    </div>
                    <p><a class="btn btn-warning mt-2 submit  col-12 col-md-12">Search</a></p>
                    <div class="text">
                        <span class="h4">Pollution stats : </span>
                        <div class="btn "><span class="lead"><b>Air Quality Level</b></span> : <span class="input0 text-light"></span></div>
                        <div class="btn "><span class="lead"><b>CO<sub>2</sub> level</b></span> : <span class="input1 text-light"></span></div>
                        <div class="btn "><span class="lead"><b>NO<sub>2</sub> level</b></span> : <span class="input2 text-light"></span></div>
                        <div class="btn"><span class="lead"><b>O<sub>3</sub> level</b></span> : <span class="input3 text-light"></span></div>
                       
                        <div class="btn"><span class="lead"><b>SO<sub>2</sub> level</b></span> : <span class="input6 text-light"></span></div>

                    </div>
                </div>
           </div>
           </div>
              <div class="col-md-6">
                <img src="https://cdn.dribbble.com/users/689436/screenshots/7287921/media/e2a639942f7b869ca340cb7e08abb0ec.jpg" class="img-fluid">
              </div>
        </div>
    </div>
    <div class="map">
        <h1 class="head"><i class="fas fa-search-location"></i>      Location on Map</h1>
        <div class="border border-dark shadow bg-dark" id='map'></div>
    
    </div>
        
        
    
    
    <%- include('base/footer')%>
    <script src="/javascripts/pollutionRender.js"></script> 
</body>
 </html>