<%- include('base/header')%>

<%- include('base/navbar')%>
<div class="container main_product">
    <h1 class="head">RuralHospitality</h1>

    
        </div>
</div>
    <%- include('base/footer')%>
