
<!-- Button trigger modal -->
<button><a href="#" id="button" class="button">Click Me</a></button>
<link rel="stylesheet" href="/css/user.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">        
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>        

<div class="bg-modal">
		<div class="row col-md-3 ">
			<div class="close pull-right"><i class="fas fa-times fa-2x"></i></div>
		 <form  method="POST" class="validated-form login_form bg-light shadow border border-grey text-center" novalidate>
		<div >
			
					<h2 class="text-center">Login to your Account</h2>
					
				</div>
				<img class="img-fluid" style="border-radius: 15px;" alt="" src="https://images.unsplash.com/photo-1580115465903-0e4a824a4e9a?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80">
				
			<div class="mb-3 mt-3">
				<input class="form-control" type="text" id="username" name="username" placeholder="Enter your Username"required>
				<div class="valid-feedback">
					Looks good!
				</div>
			</div>
		
			<div class="mb-3">
				<input class="form-control" type="password" id="password" name="password" placeholder="Enter the password"required>
				<div class="valid-feedback">
					Looks good!
				</div>
			</div>
			
				<p><button class="btn btn-warning submit col-md-12" >Login</button></p>
				<div class="or-container">
					<div class="line-separator"></div>
					<div class="or-label">or</div>
					<div class="line-separator"></div>
				</div>
				
			</form>
			<button class="btn btn-google btn-outline col-md-12 shadow border" href="#"><img src="https://img.icons8.com/color/16/000000/google-logo.png"> Signup Using Google</button>
				<p class="reg_message mt-4 text-center" >Not <a class="reg_link" href="/register">registered</a> yet?</p>
		</div>
	

</div>

<script>
    document.getElementById('button').addEventListener("click", function() {
	document.querySelector('.bg-modal').style.display = "flex";
});

document.querySelector('.close').addEventListener("click", function() {
	document.querySelector('.bg-modal').style.display = "none";
});
</script>