<div class="modal fade" id="registerModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title fw-bold" id="staticBackdropLabel">Register</h3>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
       
          <form action="/register" method="POST" class="validated-form reg_form text-center container" enctype="multipart/form-data" novalidate>
            <img class="img-fluid" style="border-radius: 15px;width: 90%;"  src="https://images.unsplash.com/photo-1485848395967-65dff62dc35b?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=749&q=80">
          
            <div class="mb-3">
              <div class="input-group mb-3 mt-3">
                  <input type="file" class="form-control" id="image" name="image">
                  <label class="input-group-text" for="image">Upload</label>
              </div>
            </div>
          
            <div class="mb-3 mt-3">
                <input class="form-control" type="text" placeholder="Username"id="username" name="username" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
        
            <div class="mb-3">
              <input class="form-control" type="email" id="email" name="email" placeholder="Enter your Email" required>
              <div class="valid-feedback">
                Looks good!
              </div>
            </div>
            <div class="mb-3">
              <input class="form-control" type="password" id="password" name="password" placeholder="Enter the password"required>
              <div class="valid-feedback">
                Looks good!
              </div>
            </div>
              <p><button class="btn btn-success submit col-md-12" >Register</button></p>  
          </form>
            <p class="reg_message mt-3 text-center" ><a class="btn btn-sm btn-primary" type="button" 
              data-bs-toggle="modal" data-bs-target="#loginModal">Login</a> if you are already registered</p>
            </div>               
           </div>
      </div>
    </div>
  </div>