<%- include('../base/header')%>

<%- include('../base/navbar')%>

<link rel="stylesheet" href="/css/user.css">

<div class="row">
<h1 class="text-center py-4">Register</h1>
<div class="col-md-6 offset-md-3 col-xl-4 offset-xl-4">
    <form action="/register" method="POST" class="validated-form reg_form bg-light shadow border border-grey text-center" novalidate>
    <img class="img-fluid" style="border-radius: 15px;"  alt="" src="https://images.unsplash.com/photo-1485848395967-65dff62dc35b?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=749&q=80">
    <div class="mb-3 mt-3">
        <label class="form-label font-weight-bold" for="username">Username</label>
        <input class="form-control" type="text" id="username" name="username" required>
        <div class="valid-feedback">
            Looks good!
        </div>
    </div>
    <div class="mb-3">
        <label class="form-label font-weight-bold" for="email">Email</label>
        <input class="form-control" type="email" id="email" name="email" required>
        <div class="valid-feedback">
            Looks good!
        </div>
    </div>
    <div class="mb-3">
        <label class="form-label font-weight-bold" for="password">Password</label>
        <input class="form-control" type="password" id="password" name="password" required>
        <div class="valid-feedback">
            Looks good!
        </div>
    </div>
    <center>
    <button class="btn btn-success mb-1 mt-4 text-center btn-block" style="border-radius: 10px;">Register</button>
    </center>
</form>
<p class="reg_message mt-5 text-center" ><a class="login_link" href="/login">Login</a> if you are already registered</p>
</div>
</div>

<%- include('../base/footer')%>